@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

.markazi_text {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla_text {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  /* colors */
  --primary_dark: #495e57;
  --primary_yellow: #f4ce14;
  --coral: #ee9972;
  --pink: #fbdabb;
  --dark: #333333;
  --light_grey: #edefee;
  --light: #ffffff;
  /* utils */
  --container_w: 100%;
  --container_inner_w: min(82%, 1560px);
  --header_h: 120px;
  --radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all ease-in-out 0.2s;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main {
  padding-top: var(--header_h);
}

a,
a:focus,
a:active,
a:visited,
input,
input:focus,
input:focus-visible,
input:active,
input:blur,
select,
select:focus,
select:focus-visible,
select:active,
select:blur {
  text-decoration: none;
  color: var(--dark);
  border: none;
  box-shadow: none;
  outline: none;
}
input:invalid,
select:invalid {
  text-decoration: none;
  color: var(--dark);
  border: 1px solid var(--coral);
}

button:disabled {
  background-color: var(--light_grey);
  color: var(--dark);
  cursor: not-allowed;
}
button:disabled:hover {
  background-color: var(--light_grey);
  color: var(--dark);
  cursor: not-allowed;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64pt;
}
h2 {
  font-weight: 400;
  font-size: 40pt;
}
h4 {
  font-weight: 800;
  font-size: 16pt;
}
a,
p {
  font-weight: 400;
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}
button,
button:active,
button:focus {
  border: none;
  box-shadow: none;
  cursor: pointer;
}
button,
.calltoaction {
  width: auto;
  height: 48px;
  padding: 8px 20px;
  border-radius: var(--radius);
  background-color: var(--primary_yellow);
  color: var(--dark);
  font-size: 14pt;
  text-align: center;
}
button:hover,
.calltoaction:hover {
  background-color: var(--primary_dark);
  color: var(--light);
}
.container {
  width: var(--container_w);
  height: 100%;
}
.container_inner {
  width: var(--container_inner_w);
  margin: 0 auto;
  height: 100%;
}

.lead_text {
  font-weight: 500;
  font-size: 18pt;
}
.section_title {
  font-weight: 800;
  font-size: 20pt;
  text-transform: uppercase;
}

.navlink {
  font-weight: 500;
  font-size: 15pt;
  text-transform: uppercase;
  color: var(--dark);
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  white-space: nowrap;
}
.navlink.active,
.navlink:hover {
  color: var(--primary_yellow);
}
.card_title {
  font-family: "Markazi Text", serif;
  font-weight: 800;
  font-size: 20pt;
}

.highlight_text {
  font-weight: 500;
  font-size: 16pt;
}
.calltoaction:hover {
  background-color: var(--light);
  color: var(--primary_dark);
}

/* Header */
header {
  width: 100%;
  height: var(--header_h);
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--light);
}
header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 202px;
}
nav {
  flex: 1;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul li {
  padding: 0 14px;
}
.menu_icon {
  width: 42px;
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  padding: 71px 0;
  border-top: 1px solid var(--primary_dark);
}
footer > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer > div > div {
  flex: 1;
  max-width: 22%;
}
footer figure {
  width: 15%;
  max-width: 222px;
}
footer h4 {
  color: var(--primary_dark);
  font-size: 15pt;
  margin-bottom: 20px;
  font-weight: 800;
}
footer a,
footer p {
  color: var(--dark);
  font-weight: 500;
}

/* Chicago 1 */
.container.chicago {
  background-color: var(--primary_dark);
  color: var(--light);
  position: relative;
}
.container.chicago_2 {
  background-color: var(--light);
  color: var(--dark);
  position: relative;
  padding: 60px 0;
}
.chicago > div,
.chicago_2 > div {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 71px;
}
.chicago h1 {
  color: var(--primary_yellow);
}
.chicago h2,
.chicago_2 h2 {
  font-family: "Markazi Text", serif;
}
.chicago p,
.chicago_2 p {
  margin-bottom: 30px;
}
.chicago article,
.chicago_2 article {
  width: 40%;
}
.chicago figure {
  max-width: 465px;
  max-height: 490px;
  position: absolute;
  right: calc((100% - var(--container_inner_w)) / 2);
  bottom: -20%;
  border-radius: var(--radius);
  overflow: hidden;
}
.chicago_2 figure {
  width: 45%;
  position: relative;
}
.chicago_2 figure img {
  border-radius: var(--radius);
}
.chicago_2 figure img:first-child {
  position: absolute;
  width: 80%;
  right: 0;
}
.chicago_2 figure img:last-child {
  position: absolute;
  width: 70%;
  left: 0;
  top: 40%;
  z-index: 2;
}
.chicago img {
  width: 100%;
}

/* Specials */
.specials {
  width: 100%;
  padding-top: 120px;
}
.specials .container_inner > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.specials_list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.special_card {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 28%;
  overflow: hidden;
  background-color: var(--light_grey);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.special_card figure {
  overflow: hidden;
}
.special_card figure img {
  aspect-ratio: 3/2;
  min-width: 100%;
  min-height: 100%;
}
.special_card article {
  padding: 20px;
}
.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card_title {
  flex: 1;
  max-width: 90%;
}
.price {
  font-family: "Markazi Text", serif;
  color: var(--coral);
  font-weight: 800;
  font-size: 20pt;
  font-weigth: 500;
}
.card_desc {
  font-size: 14pt;
  color: var(--primary_dark);
}
.special_card article p:last-child {
  font-weigth: 500;
  font-size: 14pt;
  margin-top: 20px;
}
/* Testimonials */
.testimonials {
  background-color: var(--light_grey);
  margin-top: 60px;
  padding: 60px 0;
}
.testimonials > div > h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.rating_list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.rate_card {
  flex: 1;
  max-width: 22%;
  background-color: var(--light);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.rating {
  width: 100%;
  margin-bottom: 13px;
}
.rating img {
  width: 16px;
}
.rater {
  width: 100%;
  display: flex;
  align-items: center;
}
.rater > img {
  width: 55px;
  height: auto;
}
.rater .name {
  font-size: 15pt;
  margin-left: 15px;
  text-align: left;
}
.review {
  font-size: 14pt;
  margin-top: 13px;
}

/* Booking Form */
#booking_form {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 100%;
  gap: 20px;
  margin: 30px auto;
}
.booking_heading {
  text-align: center;
  font-size: 44pt;
}
#booking_form input,
#booking_form select {
  height: 48px;
  width: 100%;
  border: none;
  border-radius: var(--radius);
  background-color: var(--light_grey);
  padding: 8px 20px;
  font-size: 14pt;
}

#booking_form label {
  display: block;
  padding: 0 20px;
  margin-bottom: 10px;
}
.confirm_card {
  width: 100%;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  aling-items: center;
  justify-content: center;
}
.confirm_card h1 {
  margin-bottom: 30px;
  text-align: center;
}
.confirm_card p {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 820px) {
  :root {
    /* utils */
    --container_inner_w: 95%;
  }

  header .container_inner {
    width: 100%;
  }

  .menu_icon {
    display: block;
    position: relative;
    right: 15px;
    z-index: 9999;
    margin-right: 15px;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
  nav > ul {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav > ul.opened {
    opacity: 1;
    visibility: visible;
    z-index: 9990;
  }
  nav > ul.opened li {
    width: 100%;
    height: 60px;
    padding: 0 40px;
  }
  .navlink {
    font-size: 20pt;
  }
  .chicago > div,
  .chicago_2 > div {
    flex-direction: column;
  }
  .chicago article,
  .chicago_2 article {
    width: 100%;
  }
  .chicago figure,
  .chicago_2 figure {
    display: none;
  }
  .specials {
    padding-top: 60px;
  }
  .specials .container_inner > div:first-child {
    flex-direction: column;
  }
  h1 {
    font-size: 36pt;
  }
  .specials .container_inner > div:first-child h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .specials_list {
    flex-direction: column;
  }
  .special_card {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .testimonials {
    margin-top: 30px;
    padding: 30px 0;
  }
  .testimonials > div > h4 {
    margin-bottom: 30px;
  }
  .rating_list {
    flex-direction: column;
  }
  .rate_card {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .container.chicago_2 {
    padding: 30px 0;
  }
  footer {
    padding: 30px 15px;
  }
  footer > div {
    flex-direction: column;
  }
  footer figure {
    width: 222px;
    max-width: 222px;
  }
  footer > div > div {
    max-width: 100%;
    margin: 30px 0;
  }
  #booking_form {
    width: 100%;
    margin-bottom: 60px;
  }
  #booking_form label {
    margin-bottom: 8px;
  }
}
